

li{
    font-size: 15px;
    text-decoration: none;
    float: left;
    padding: 10px;
	text-transform: uppercase;
    background-color: #2175bc;
    margin-bottom: 10px;
    color: #fff;
    list-style: none;
}
    

@media only screen and (max-width: 720px) {
    li{
        font-size: 15px;
        text-decoration: none;
        display: block;
        padding: 10px;
        text-transform: uppercase;
        background-color: #2175bc;
        float: inherit;
        color: #fff;
        list-style: none;
        margin-bottom: 2px;
    }
        
}

li:hover {
    background-color: #2586d7;
    margin-top: -2;
    padding-bottom: 12px;
    cursor: pointer;
}